.graph{
    position: relative;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;

    &_y{
        position: absolute;
        top : 0;
        left: -26px;
        height: 100%;
        text-align: right;

        span{
            display: block;
            position: relative;
            height: 20px;

            &:after{
                content: '';
                position: absolute;
                width: 10px;
                height: 1px;
                background-color: #000;
                top: 50%;
                transform: translateY(-50%);
            }
            
        }
    }

    &_x{
        position: absolute;
        width: calc(100% + 5px);
        bottom: -30px;

        span{
            display: inline-block;
            position: relative;
            width: 20px;
            text-align: center;

            &:before{
                content: '';
                position: absolute;
                width: 1px;
                height: 10px;
                background-color: #000;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}